
*{
	margin: 0;
	padding-top: 0;
/*	font-family: sans-serif;*/
}



/*----------------navigation bar---------------------------*/
.container1{
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
  }
  
  
  .container11{
	position: absolute;
	left:10%;
	width:50%;
  }
  
  .container111{
  
	position: absolute;
  }
  
  #imglogosmall{
	top:0;
	left: 0%;
	height:10%;
	width:10%;
  }
  
  
  .cotainer112{
	position: absolute;
	left:20%;
  }
  
  
  #logo{
  position: absolute;
  font-size: 16px;
  border-left: 2px solid white;
  }
  
  
  
  
  .container12{
	position: relative;
	left:75%;
  }
  
  
  .container1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-right: 0;
  }
  
  .container1 li {
	float: left;
	position: right;
   } 
  
   .container1 li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .container1 li a:hover {
	background-color: red;
  }
 
  
  .container1 .active{
	background-color: red;
  }
  
  
  /*----------------navigation ends---------------------------*/
  




.hero{
	position: absolute;
	overflow: hidden;
	width: 100%;
	top:6%;
	height: 94%;
	background-image: linear-gradient(rgba(138,43,226,0.4),rgba(138,43,226,0.4)),url('../images/loginbg.jpg');
	background-position: center;
	background-size: cover;
	
	
}

.form-box{
	width: 380px;
	height: 520px;
	position: relative;
	margin: 6% auto;
	background: #b76e79;
  	background: -webkit-linear-gradient(top, #FFDF00, #b76e79);
  	background: -o-linear-gradient(top, #FFDF00, #b76e79);
  	background: -moz-linear-gradient(top, #FFDF00, #b76e79);
  	background: linear-gradient(top, #FFDF00, #b76e79);
  	padding: 5px;
	overflow: hidden;

}

.button-box{
  border: white solid;
  background-color: #fff;
  width: 250px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 140px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
}

.social-icons{
	margin: 30px auto;
	text-align: center; 
}

.social-icons img{
	width: 30px; 
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border: solid;
	border-color: white;
	border-radius: 50%;
}

.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submit-btn{
	width:85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border: white solid;
	outline: none;
	border-radius: 30px;
}

.check-box{
	margin: 30px 10px 30px 0;
}

span{
	color: #777;
	font-size: 12px;
	bottom: 105px;
	position: absolute; 
}

#forgot{
	position: relative;
	font-size: 14px;
	text-align: center;
	top: 30px;
	left: 90px;
	text-align: center;
}

p{
	position: relative;
	top: 50px;
	text-align: center;
	font-size: 14px;
	color: #444;
}

#gotoreg{
	position: relative;
	font-size: 14px;
	padding-left: 10px; 
}

#prime{
	left: 50px;
}

#regular{
	left: 450px;
}





















